*{
    margin: 0;
    padding: 0;
     user-select: none;
     box-sizing: border-box;
     color: white;
 }
 
 .cabeça{
     position: fixed;
     width: 250px;
     height: 100%;
     left: -250px;
     background-color: rgb(54, 54, 54);
     transition: 0.4s ease;
 }
 
 .cabeça .txt{
     color: white;
     font-size: 25px;
     font-weight: 600;
     line-height: 65px;
     text-align: center;
     background-color: rgb(83, 83, 83);
     letter-spacing: 1px;
 }
 
 .cabeça ul{
     list-style: none;
     width: 100%;
     height: 100%;
 }
 
 .cabeça ul li{
     line-height: 60px;
     border-bottom: 1px solid rgba(255,255,255,0.1)
 }
 
 .cabeça ul li a{
     position: relative;
     color: white;
     text-decoration: none;
     font-size: 18px;
     padding-left:40px;
     font-weight: 500;
     display: block;
     width: 100%;
     border-left: 3px solid transparent;
     
 }
 
 .cabeça ul li a:hover{
     color: rgb(255, 68, 0);
     background: #1e1e1e;
     border-left-color: rgb(255,68,0);
     transition-duration: 0.4s;
 }
 
 .cabeça ul li:last-child{
     border-bottom: 1px solid rgb(255, 68, 0);
 }
 
 .btn{
     position: absolute;
     top: 10px;
     left: 10px;
     cursor: pointer;
     transition-duration: 0.4s;
 }
 
 .btn img{
     width: 30px;
     
 }
 
 .btn #imgxx{
     width: 30px;
 }
 
 .btn img:hover{
     width: 35px;
     transition: 0.5s;
 }
 
 
 
 
 @font-face {
     font-family: "Night Machine";
     src: url("Night Machine.otf") format("opentype");
 }
 
 body{
     background-color: rgb(26, 26, 26);
     width: 100%;
     display: flex;
     align-items: center;
     flex-direction: column;
 
 }
 .cabeça > h1{
     width: 100vw;
     text-align: center;
     font-size: 3em;
     font-family: "Night Machine";
     color: orangered;
     background-color: rgb(41, 41, 41);
     margin-left: 250px;
 }
 
 .tema h2{
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
 
 #btnm{
     position: fixed;
 }
 
 /*---------------------------------------------------------------------- */
 .container{
     width: 91%;
     max-width: 680px;
     margin: 10px;
     display: flex;
     flex-direction: column;
     align-items: center;
     margin-top: 100px;
 }
 
 .container > div > h1{
     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     color: white;
     margin-top: 15px;
     margin-bottom: 15px;
     
 }
 
 .foto{
     position:static;
     margin-left: 30px;
 
     height: 150px;
     width: 150px;
 
     border-radius: 78px;
     border: 3px solid rgb(255, 255, 255);
     
 }
 
 .link{
     width: 100%;
     margin-top: 10px;
     background-color: rgb(41, 41, 41);
     border-radius: 17px;
 
     display: flex;
     justify-content: space-between;
 }
/*------iban-----*/
 .iban{
    width: 100%;
     margin-top: 10px;
     background-color: rgb(41, 41, 41);
     border-radius: 17px;
 
     display: flex;
     justify-content: space-between;
     
 }
 
.iban p{
    font-size: 20px;
    width: 80%;
 }

 .icon_iban{
    
    margin-right: 0px;
 }

.icon_iban img{
    width: 44px;
     height: 44px;
     margin: 4px 8px;
     
}
/*-----link-----*/
 a{
     text-decoration: none;
     color: white;
 }
 
 .link > p{
     margin-top: 15px;
     font-size: 20px;
 }
 .link:hover {
     transform: scale(1.02);
     transition: cubic-bezier(.7, 1.41, .82, 1.41) 0.2s;
 }
 
 .icon > img{
     width: 44px;
     height: 44px;
     margin: 4px 8px;
 }
 
 .compartilha{
     margin-top: 8px;
     margin-right: 8px;
     width: 44px;
     height: 44px;
     border-radius: 27px;
     background-color: rgb(59, 59, 59);
     
 }
 
 .compartilha > svg{
     margin-left: 10px;
     margin-top: 10px;
     
     
 }

 /*--------------------sobre-------*/

.sobre{
    width: 60vw;
    margin-top: 5em;
    margin-bottom: 8em; 
    font-size: 23px;
}

.sobre a{
    text-decoration: underline;
    color: rgb(83, 83, 255);
}

.scp_s{
    font-family: "Night Machine";
    font-size: 5em;
    text-align: center;
    color: rgb(255, 255, 255);
}

.frases{
    background-color: rgb(39, 33, 33);
    padding: 25px;
    font-size: 20px;
    border-radius: 10px;
}

.todomundo{
    background-color: brown;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 20px black;
}

@media screen and (max-width:1200px){
 .sobre{
    width: 80vw;
 }
}

@media screen and (max-width:700px){
 .sobre{
    width: 90vw;
 }

 .scp_s{
    font-size: 3em;
 }
 
}
 
 /* ------------------botão de like------------------------------------- */
 
 .content_like{
     height: auto;
     display: flex;
     margin: 30px;
       
 }
 .btn_like{
     margin: 0px 10px;
     display: flex;
    
 }
 .btn_like:hover{
     cursor: pointer;
     transform: scale(1.12);
     transition: cubic-bezier(.7, 1.41, .82, 1.41) 0.2s;
 }
 
 .img_like{
     width: 30px;
     margin-left: 10px;
     height: 30px;
     margin-top: 3px;
 }
 
 #deslike{
     transform: scaley(-1);
     
 }
 .cont_like{
     width: 90%;
     font-size: 2em;
     position: relative;
     background-color: gray;
     border-radius: 11px;
     display: flex;
     padding-right: 39px;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }












